# REPORT CHECK

Used to double-check the results for the standard data case

In [64]:
import pandas as pd
import functools as ft
import itertools as it
import json

In [65]:
# PATH TO JSON 
RAW_EVENTS_INPUT_FILE = "../data/list_data.json"
REPORT_RESULT_JSON_INPUT = "../data/response.json"

# EXCEL OUTPUT
CALC_REPORT_EXCEL_OUTPUT =  "../data/report_demo.xlsx"

## Data Report Generation

Script to read all events information at once to check if the report results are to be trusted

### Input

In [66]:
df = pd.read_json(RAW_EVENTS_INPUT_FILE, orient="records")
df

                          date  quantity        item  price
0    2023-01-01 00:32:24+00:00         8      cherry    2.3
1    2023-01-01 01:11:10+00:00         8       mango    6.0
2    2023-01-01 01:15:09+00:00         7  watermelon    4.7
3    2023-01-01 01:37:20+00:00        10       apple    2.0
4    2023-01-01 02:46:13+00:00         4       apple    2.0
...                        ...       ...         ...    ...
9930 2023-12-30 20:59:40+00:00        10  strawberry    5.2
9931 2023-12-30 21:13:13+00:00         5  strawberry    5.2
9932 2023-12-30 21:58:51+00:00         6      banana    1.5
9933 2023-12-30 22:12:52+00:00         7      cherry    2.3
9934 2023-12-30 23:51:19+00:00        10       mango    6.0

[9935 rows x 4 columns]

### Calculations

In [67]:
def per_item_agg(df):
    return (
        df
        .assign(
            revenue=lambda df_: df_["quantity"] * df_["price"]
        )
        .groupby("item")
        .agg(
            total_revenue=("revenue", "sum"),
            total_sales=("date", "count"),
            total_quantity=("quantity", "sum"),
        )
        .assign(
            average_per_sale=lambda df_: df_["total_quantity"] / df_["total_sales"],
        )
        .drop(columns=["total_sales"])
    )

per_item_agg = df.pipe(per_item_agg)
per_item_agg

            total_revenue  total_quantity  average_per_sale
item
apple             11162.0            5581          5.542205
avocado           27658.8            5319          5.433095
banana             7855.5            5237          5.483770
cherry            12907.6            5612          5.475122
lemon             17846.4            5577          5.494581
mango             32724.0            5454          5.432271
papaya            39587.9            5423          5.455734
pineapple         36153.2            5396          5.632568
strawberry        28698.8            5519          5.453557
watermelon        26127.3            5559          5.637931

In [68]:
def per_item_month_agg(df):
    return (
        df
        .assign(
            revenue=lambda df_: df_["quantity"] * df_["price"],
            year=lambda df_: df_["date"].dt.year,
            month=lambda df_: df_["date"].dt.month,
        )
        .groupby(["item", "year", "month"])
        .agg(
            total_revenue=("revenue", "sum"),
            total_sales=("date", "count"),
            total_quantity=("quantity", "sum"),
        )
        .assign(
            average_per_sale=lambda df_: df_["total_quantity"] / df_["total_sales"],
        )
        .drop(columns=["total_sales"])
    )

per_item_month_agg = df.pipe(per_item_month_agg)
per_item_month_agg

                       total_revenue  total_quantity  average_per_sale
item       year month
apple      2023 1              836.0             418          5.428571
                2              890.0             445          5.855263
                3              856.0             428          5.706667
                4              760.0             380          4.935065
                5             1036.0             518          5.569892
...                              ...             ...               ...
watermelon 2023 8             1748.4             372          5.239437
                9             2209.0             470          5.595238
                10            2204.3             469          5.097826
                11            2232.5             475          5.722892
                12            2063.3             439          6.097222

[120 rows x 3 columns]

### Output

In [69]:
with pd.ExcelWriter(CALC_REPORT_EXCEL_OUTPUT) as writer:
    per_item_agg.to_excel(writer, sheet_name="per_item")
    per_item_month_agg.to_excel(writer, sheet_name="per_item_month")

## Resulsts assert

In [70]:
@ft.cache
def load_report():
    with open(REPORT_RESULT_JSON_INPUT) as f:
        return json.load(f)

load_report()

{'strawberry': {'total_quantity': 5519,
  'average_per_sale': 5,
  'total_revenue': 28698,
  'monthly': {'2023-01': {'total_quantity': 492,
    'average_per_sale': 5,
    'total_revenue': 2558},
   '2023-02': {'total_quantity': 458,
    'average_per_sale': 5,
    'total_revenue': 2381},
   '2023-03': {'total_quantity': 598,
    'average_per_sale': 5,
    'total_revenue': 3109},
   '2023-04': {'total_quantity': 446,
    'average_per_sale': 5,
    'total_revenue': 2319},
   '2023-05': {'total_quantity': 506,
    'average_per_sale': 5,
    'total_revenue': 2631},
   '2023-06': {'total_quantity': 472,
    'average_per_sale': 5,
    'total_revenue': 2454},
   '2023-07': {'total_quantity': 414,
    'average_per_sale': 5,
    'total_revenue': 2152},
   '2023-08': {'total_quantity': 396,
    'average_per_sale': 4,
    'total_revenue': 2059},
   '2023-09': {'total_quantity': 349,
    'average_per_sale': 5,
    'total_revenue': 1814},
   '2023-10': {'total_quantity': 520,
    'average_per_sale': 5,
    'total_revenue': 2704},
   '2023-11': {'total_quantity': 470,
    'average_per_sale': 5,
    'total_revenue': 2444},
   '2023-12': {'total_quantity': 398,
    'average_per_sale': 5,
    'total_revenue': 2069}}},
 'apple': {'total_quantity': 5581,
  'average_per_sale': 5,
  'total_revenue': 11162,
  'monthly': {'2023-01': {'total_quantity': 418,
    'average_per_sale': 5,
    'total_revenue': 836},
   '2023-02': {'total_quantity': 445,
    'average_per_sale': 5,
    'total_revenue': 890},
   '2023-03': {'total_quantity': 428,
    'average_per_sale': 5,
    'total_revenue': 856},
   '2023-04': {'total_quantity': 380,
    'average_per_sale': 4,
    'total_revenue': 760},
   '2023-05': {'total_quantity': 518,
    'average_per_sale': 5,
    'total_revenue': 1036},
   '2023-06': {'total_quantity': 545,
    'average_per_sale': 5,
    'total_revenue': 1090},
   '2023-07': {'total_quantity': 492,
    'average_per_sale': 5,
    'total_revenue': 984},
   '2023-08': {'total_quantity': 539,
    'average_per_sale': 5,
    'total_revenue': 1078},
   '2023-09': {'total_quantity': 405,
    'average_per_sale': 5,
    'total_revenue': 810},
   '2023-10': {'total_quantity': 488,
    'average_per_sale': 5,
    'total_revenue': 976},
   '2023-11': {'total_quantity': 402,
    'average_per_sale': 5,
    'total_revenue': 804},
   '2023-12': {'total_quantity': 521,
    'average_per_sale': 5,
    'total_revenue': 1042}}},
 'lemon': {'total_quantity': 5577,
  'average_per_sale': 5,
  'total_revenue': 17846,
  'monthly': {'2023-01': {'total_quantity': 460,
    'average_per_sale': 5,
    'total_revenue': 1472},
   '2023-02': {'total_quantity': 415,
    'average_per_sale': 5,
    'total_revenue': 1328},
   '2023-03': {'total_quantity': 427,
    'average_per_sale': 5,
    'total_revenue': 1366},
   '2023-04': {'total_quantity': 484,
    'average_per_sale': 5,
    'total_revenue': 1548},
   '2023-05': {'total_quantity': 490,
    'average_per_sale': 5,
    'total_revenue': 1568},
   '2023-06': {'total_quantity': 408,
    'average_per_sale': 5,
    'total_revenue': 1305},
   '2023-07': {'total_quantity': 528,
    'average_per_sale': 5,
    'total_revenue': 1689},
   '2023-08': {'total_quantity': 568,
    'average_per_sale': 5,
    'total_revenue': 1817},
   '2023-09': {'total_quantity': 479,
    'average_per_sale': 5,
    'total_revenue': 1532},
   '2023-10': {'total_quantity': 429,
    'average_per_sale': 5,
    'total_revenue': 1372},
   '2023-11': {'total_quantity': 406,
    'average_per_sale': 5,
    'total_revenue': 1299},
   '2023-12': {'total_quantity': 483,
    'average_per_sale': 5,
    'total_revenue': 1545}}},
 'watermelon': {'total_quantity': 5559,
  'average_per_sale': 5,
  'total_revenue': 26127,
  'monthly': {'2023-01': {'total_quantity': 456,
    'average_per_sale': 5,
    'total_revenue': 2143},
   '2023-02': {'total_quantity': 390,
    'average_per_sale': 5,
    'total_revenue': 1833},
   '2023-03': {'total_quantity': 388,
    'average_per_sale': 6,
    'total_revenue': 1823},
   '2023-04': {'total_quantity': 411,
    'average_per_sale': 5,
    'total_revenue': 1931},
   '2023-05': {'total_quantity': 569,
    'average_per_sale': 5,
    'total_revenue': 2674},
   '2023-06': {'total_quantity': 582,
    'average_per_sale': 6,
    'total_revenue': 2735},
   '2023-07': {'total_quantity': 538,
    'average_per_sale': 5,
    'total_revenue': 2528},
   '2023-08': {'total_quantity': 372,
    'average_per_sale': 5,
    'total_revenue': 1748},
   '2023-09': {'total_quantity': 470,
    'average_per_sale': 5,
    'total_revenue': 2209},
   '2023-10': {'total_quantity': 469,
    'average_per_sale': 5,
    'total_revenue': 2204},
   '2023-11': {'total_quantity': 475,
    'average_per_sale': 5,
    'total_revenue': 2232},
   '2023-12': {'total_quantity': 439,
    'average_per_sale': 6,
    'total_revenue': 2063}}},
 'cherry': {'total_quantity': 5612,
  'average_per_sale': 5,
  'total_revenue': 12907,
  'monthly': {'2023-01': {'total_quantity': 536,
    'average_per_sale': 5,
    'total_revenue': 1232},
   '2023-02': {'total_quantity': 419,
    'average_per_sale': 5,
    'total_revenue': 963},
   '2023-03': {'total_quantity': 574,
    'average_per_sale': 5,
    'total_revenue': 1320},
   '2023-04': {'total_quantity': 540,
    'average_per_sale': 5,
    'total_revenue': 1242},
   '2023-05': {'total_quantity': 464,
    'average_per_sale': 5,
    'total_revenue': 1067},
   '2023-06': {'total_quantity': 464,
    'average_per_sale': 5,
    'total_revenue': 1067},
   '2023-07': {'total_quantity': 427,
    'average_per_sale': 5,
    'total_revenue': 982},
   '2023-08': {'total_quantity': 465,
    'average_per_sale': 5,
    'total_revenue': 1069},
   '2023-09': {'total_quantity': 434,
    'average_per_sale': 4,
    'total_revenue': 998},
   '2023-10': {'total_quantity': 385,
    'average_per_sale': 4,
    'total_revenue': 885},
   '2023-11': {'total_quantity': 516,
    'average_per_sale': 5,
    'total_revenue': 1186},
   '2023-12': {'total_quantity': 388,
    'average_per_sale': 5,
    'total_revenue': 892}}},
 'banana': {'total_quantity': 5237,
  'average_per_sale': 5,
  'total_revenue': 7855,
  'monthly': {'2023-01': {'total_quantity': 438,
    'average_per_sale': 5,
    'total_revenue': 657},
   '2023-02': {'total_quantity': 323,
    'average_per_sale': 4,
    'total_revenue': 484},
   '2023-03': {'total_quantity': 615,
    'average_per_sale': 6,
    'total_revenue': 922},
   '2023-04': {'total_quantity': 418,
    'average_per_sale': 5,
    'total_revenue': 627},
   '2023-05': {'total_quantity': 352,
    'average_per_sale': 5,
    'total_revenue': 528},
   '2023-06': {'total_quantity': 541,
    'average_per_sale': 5,
    'total_revenue': 811},
   '2023-07': {'total_quantity': 372,
    'average_per_sale': 4,
    'total_revenue': 558},
   '2023-08': {'total_quantity': 383,
    'average_per_sale': 5,
    'total_revenue': 574},
   '2023-09': {'total_quantity': 412,
    'average_per_sale': 4,
    'total_revenue': 618},
   '2023-10': {'total_quantity': 430,
    'average_per_sale': 5,
    'total_revenue': 645},
   '2023-11': {'total_quantity': 396,
    'average_per_sale': 5,
    'total_revenue': 594},
   '2023-12': {'total_quantity': 557,
    'average_per_sale': 6,
    'total_revenue': 835}}},
 'papaya': {'total_quantity': 5423,
  'average_per_sale': 5,
  'total_revenue': 39587,
  'monthly': {'2023-01': {'total_quantity': 603,
    'average_per_sale': 5,
    'total_revenue': 4401},
   '2023-02': {'total_quantity': 407,
    'average_per_sale': 5,
    'total_revenue': 2971},
   '2023-03': {'total_quantity': 407,
    'average_per_sale': 5,
    'total_revenue': 2971},
   '2023-04': {'total_quantity': 450,
    'average_per_sale': 5,
    'total_revenue': 3285},
   '2023-05': {'total_quantity': 438,
    'average_per_sale': 5,
    'total_revenue': 3197},
   '2023-06': {'total_quantity': 415,
    'average_per_sale': 5,
    'total_revenue': 3029},
   '2023-07': {'total_quantity': 446,
    'average_per_sale': 5,
    'total_revenue': 3255},
   '2023-08': {'total_quantity': 484,
    'average_per_sale': 5,
    'total_revenue': 3533},
   '2023-09': {'total_quantity': 471,
    'average_per_sale': 5,
    'total_revenue': 3438},
   '2023-10': {'total_quantity': 511,
    'average_per_sale': 5,
    'total_revenue': 3730},
   '2023-11': {'total_quantity': 392,
    'average_per_sale': 5,
    'total_revenue': 2861},
   '2023-12': {'total_quantity': 399,
    'average_per_sale': 5,
    'total_revenue': 2912}}},
 'avocado': {'total_quantity': 5319,
  'average_per_sale': 5,
  'total_revenue': 27658,
  'monthly': {'2023-01': {'total_quantity': 461,
    'average_per_sale': 5,
    'total_revenue': 2397},
   '2023-02': {'total_quantity': 512,
    'average_per_sale': 5,
    'total_revenue': 2662},
   '2023-03': {'total_quantity': 476,
    'average_per_sale': 5,
    'total_revenue': 2475},
   '2023-04': {'total_quantity': 444,
    'average_per_sale': 5,
    'total_revenue': 2308},
   '2023-05': {'total_quantity': 408,
    'average_per_sale': 5,
    'total_revenue': 2121},
   '2023-06': {'total_quantity': 362,
    'average_per_sale': 5,
    'total_revenue': 1882},
   '2023-07': {'total_quantity': 416,
    'average_per_sale': 5,
    'total_revenue': 2163},
   '2023-08': {'total_quantity': 476,
    'average_per_sale': 6,
    'total_revenue': 2475},
   '2023-09': {'total_quantity': 423,
    'average_per_sale': 4,
    'total_revenue': 2199},
   '2023-10': {'total_quantity': 408,
    'average_per_sale': 5,
    'total_revenue': 2121},
   '2023-11': {'total_quantity': 531,
    'average_per_sale': 5,
    'total_revenue': 2761},
   '2023-12': {'total_quantity': 402,
    'average_per_sale': 5,
    'total_revenue': 2090}}},
 'pineapple': {'total_quantity': 5396,
  'average_per_sale': 5,
  'total_revenue': 36153,
  'monthly': {'2023-01': {'total_quantity': 471,
    'average_per_sale': 5,
    'total_revenue': 3155},
   '2023-02': {'total_quantity': 382,
    'average_per_sale': 5,
    'total_revenue': 2559},
   '2023-03': {'total_quantity': 457,
    'average_per_sale': 5,
    'total_revenue': 3061},
   '2023-04': {'total_quantity': 344,
    'average_per_sale': 5,
    'total_revenue': 2304},
   '2023-05': {'total_quantity': 477,
    'average_per_sale': 5,
    'total_revenue': 3195},
   '2023-06': {'total_quantity': 530,
    'average_per_sale': 6,
    'total_revenue': 3551},
   '2023-07': {'total_quantity': 500,
    'average_per_sale': 5,
    'total_revenue': 3350},
   '2023-08': {'total_quantity': 510,
    'average_per_sale': 5,
    'total_revenue': 3417},
   '2023-09': {'total_quantity': 385,
    'average_per_sale': 5,
    'total_revenue': 2579},
   '2023-10': {'total_quantity': 467,
    'average_per_sale': 5,
    'total_revenue': 3128},
   '2023-11': {'total_quantity': 349,
    'average_per_sale': 4,
    'total_revenue': 2338},
   '2023-12': {'total_quantity': 524,
    'average_per_sale': 6,
    'total_revenue': 3510}}},
 'mango': {'total_quantity': 5454,
  'average_per_sale': 5,
  'total_revenue': 32724,
  'monthly': {'2023-01': {'total_quantity': 467,
    'average_per_sale': 5,
    'total_revenue': 2802},
   '2023-02': {'total_quantity': 455,
    'average_per_sale': 5,
    'total_revenue': 2730},
   '2023-03': {'total_quantity': 486,
    'average_per_sale': 6,
    'total_revenue': 2916},
   '2023-04': {'total_quantity': 367,
    'average_per_sale': 4,
    'total_revenue': 2202},
   '2023-05': {'total_quantity': 418,
    'average_per_sale': 5,
    'total_revenue': 2508},
   '2023-06': {'total_quantity': 472,
    'average_per_sale': 5,
    'total_revenue': 2832},
   '2023-07': {'total_quantity': 449,
    'average_per_sale': 5,
    'total_revenue': 2694},
   '2023-08': {'total_quantity': 544,
    'average_per_sale': 5,
    'total_revenue': 3264},
   '2023-09': {'total_quantity': 409,
    'average_per_sale': 5,
    'total_revenue': 2454},
   '2023-10': {'total_quantity': 495,
    'average_per_sale': 5,
    'total_revenue': 2970},
   '2023-11': {'total_quantity': 458,
    'average_per_sale': 5,
    'total_revenue': 2748},
   '2023-12': {'total_quantity': 434,
    'average_per_sale': 5,
    'total_revenue': 2604}}}}

In [71]:
def agg_report(d):
    keys = ["total_quantity", "average_per_sale", "total_revenue"]
    def sel_agg_json(j):
        return { k: j[k] for k in keys }

    j_reports = d.values()
    j_agg_reports = map(sel_agg_json, j_reports)
    return dict(zip(d.keys(), j_agg_reports))

def agg_report_df(agg_report):
    return (
        pd.DataFrame.from_dict(agg_report, orient="index")
        .astype({
            "total_quantity": "int",
            "average_per_sale":	"int",
            "total_revenue": "int",
        })
        .sort_index()
    )

result_agg = agg_report_df(agg_report(load_report()))
result_agg

            total_quantity  average_per_sale  total_revenue
apple                 5581                 5          11162
avocado               5319                 5          27658
banana                5237                 5           7855
cherry                5612                 5          12907
lemon                 5577                 5          17846
mango                 5454                 5          32724
papaya                5423                 5          39587
pineapple             5396                 5          36153
strawberry            5519                 5          28698
watermelon            5559                 5          26127

In [72]:
def compare_agg_report(res_df, calc_df):

    _calc_df = (
        calc_df
        .astype("int")
        .reindex(columns=res_df.columns)
    )
    return res_df.compare(_calc_df)


compare_agg_report(result_agg, per_item_agg)

Empty DataFrame
Columns: []
Index: []

In [73]:
load_report()

{'strawberry': {'total_quantity': 5519,
  'average_per_sale': 5,
  'total_revenue': 28698,
  'monthly': {'2023-01': {'total_quantity': 492,
    'average_per_sale': 5,
    'total_revenue': 2558},
   '2023-02': {'total_quantity': 458,
    'average_per_sale': 5,
    'total_revenue': 2381},
   '2023-03': {'total_quantity': 598,
    'average_per_sale': 5,
    'total_revenue': 3109},
   '2023-04': {'total_quantity': 446,
    'average_per_sale': 5,
    'total_revenue': 2319},
   '2023-05': {'total_quantity': 506,
    'average_per_sale': 5,
    'total_revenue': 2631},
   '2023-06': {'total_quantity': 472,
    'average_per_sale': 5,
    'total_revenue': 2454},
   '2023-07': {'total_quantity': 414,
    'average_per_sale': 5,
    'total_revenue': 2152},
   '2023-08': {'total_quantity': 396,
    'average_per_sale': 4,
    'total_revenue': 2059},
   '2023-09': {'total_quantity': 349,
    'average_per_sale': 5,
    'total_revenue': 1814},
   '2023-10': {'total_quantity': 520,
    'average_per_sale': 5,
    'total_revenue': 2704},
   '2023-11': {'total_quantity': 470,
    'average_per_sale': 5,
    'total_revenue': 2444},
   '2023-12': {'total_quantity': 398,
    'average_per_sale': 5,
    'total_revenue': 2069}}},
 'apple': {'total_quantity': 5581,
  'average_per_sale': 5,
  'total_revenue': 11162,
  'monthly': {'2023-01': {'total_quantity': 418,
    'average_per_sale': 5,
    'total_revenue': 836},
   '2023-02': {'total_quantity': 445,
    'average_per_sale': 5,
    'total_revenue': 890},
   '2023-03': {'total_quantity': 428,
    'average_per_sale': 5,
    'total_revenue': 856},
   '2023-04': {'total_quantity': 380,
    'average_per_sale': 4,
    'total_revenue': 760},
   '2023-05': {'total_quantity': 518,
    'average_per_sale': 5,
    'total_revenue': 1036},
   '2023-06': {'total_quantity': 545,
    'average_per_sale': 5,
    'total_revenue': 1090},
   '2023-07': {'total_quantity': 492,
    'average_per_sale': 5,
    'total_revenue': 984},
   '2023-08': {'total_quantity': 539,
    'average_per_sale': 5,
    'total_revenue': 1078},
   '2023-09': {'total_quantity': 405,
    'average_per_sale': 5,
    'total_revenue': 810},
   '2023-10': {'total_quantity': 488,
    'average_per_sale': 5,
    'total_revenue': 976},
   '2023-11': {'total_quantity': 402,
    'average_per_sale': 5,
    'total_revenue': 804},
   '2023-12': {'total_quantity': 521,
    'average_per_sale': 5,
    'total_revenue': 1042}}},
 'lemon': {'total_quantity': 5577,
  'average_per_sale': 5,
  'total_revenue': 17846,
  'monthly': {'2023-01': {'total_quantity': 460,
    'average_per_sale': 5,
    'total_revenue': 1472},
   '2023-02': {'total_quantity': 415,
    'average_per_sale': 5,
    'total_revenue': 1328},
   '2023-03': {'total_quantity': 427,
    'average_per_sale': 5,
    'total_revenue': 1366},
   '2023-04': {'total_quantity': 484,
    'average_per_sale': 5,
    'total_revenue': 1548},
   '2023-05': {'total_quantity': 490,
    'average_per_sale': 5,
    'total_revenue': 1568},
   '2023-06': {'total_quantity': 408,
    'average_per_sale': 5,
    'total_revenue': 1305},
   '2023-07': {'total_quantity': 528,
    'average_per_sale': 5,
    'total_revenue': 1689},
   '2023-08': {'total_quantity': 568,
    'average_per_sale': 5,
    'total_revenue': 1817},
   '2023-09': {'total_quantity': 479,
    'average_per_sale': 5,
    'total_revenue': 1532},
   '2023-10': {'total_quantity': 429,
    'average_per_sale': 5,
    'total_revenue': 1372},
   '2023-11': {'total_quantity': 406,
    'average_per_sale': 5,
    'total_revenue': 1299},
   '2023-12': {'total_quantity': 483,
    'average_per_sale': 5,
    'total_revenue': 1545}}},
 'watermelon': {'total_quantity': 5559,
  'average_per_sale': 5,
  'total_revenue': 26127,
  'monthly': {'2023-01': {'total_quantity': 456,
    'average_per_sale': 5,
    'total_revenue': 2143},
   '2023-02': {'total_quantity': 390,
    'average_per_sale': 5,
    'total_revenue': 1833},
   '2023-03': {'total_quantity': 388,
    'average_per_sale': 6,
    'total_revenue': 1823},
   '2023-04': {'total_quantity': 411,
    'average_per_sale': 5,
    'total_revenue': 1931},
   '2023-05': {'total_quantity': 569,
    'average_per_sale': 5,
    'total_revenue': 2674},
   '2023-06': {'total_quantity': 582,
    'average_per_sale': 6,
    'total_revenue': 2735},
   '2023-07': {'total_quantity': 538,
    'average_per_sale': 5,
    'total_revenue': 2528},
   '2023-08': {'total_quantity': 372,
    'average_per_sale': 5,
    'total_revenue': 1748},
   '2023-09': {'total_quantity': 470,
    'average_per_sale': 5,
    'total_revenue': 2209},
   '2023-10': {'total_quantity': 469,
    'average_per_sale': 5,
    'total_revenue': 2204},
   '2023-11': {'total_quantity': 475,
    'average_per_sale': 5,
    'total_revenue': 2232},
   '2023-12': {'total_quantity': 439,
    'average_per_sale': 6,
    'total_revenue': 2063}}},
 'cherry': {'total_quantity': 5612,
  'average_per_sale': 5,
  'total_revenue': 12907,
  'monthly': {'2023-01': {'total_quantity': 536,
    'average_per_sale': 5,
    'total_revenue': 1232},
   '2023-02': {'total_quantity': 419,
    'average_per_sale': 5,
    'total_revenue': 963},
   '2023-03': {'total_quantity': 574,
    'average_per_sale': 5,
    'total_revenue': 1320},
   '2023-04': {'total_quantity': 540,
    'average_per_sale': 5,
    'total_revenue': 1242},
   '2023-05': {'total_quantity': 464,
    'average_per_sale': 5,
    'total_revenue': 1067},
   '2023-06': {'total_quantity': 464,
    'average_per_sale': 5,
    'total_revenue': 1067},
   '2023-07': {'total_quantity': 427,
    'average_per_sale': 5,
    'total_revenue': 982},
   '2023-08': {'total_quantity': 465,
    'average_per_sale': 5,
    'total_revenue': 1069},
   '2023-09': {'total_quantity': 434,
    'average_per_sale': 4,
    'total_revenue': 998},
   '2023-10': {'total_quantity': 385,
    'average_per_sale': 4,
    'total_revenue': 885},
   '2023-11': {'total_quantity': 516,
    'average_per_sale': 5,
    'total_revenue': 1186},
   '2023-12': {'total_quantity': 388,
    'average_per_sale': 5,
    'total_revenue': 892}}},
 'banana': {'total_quantity': 5237,
  'average_per_sale': 5,
  'total_revenue': 7855,
  'monthly': {'2023-01': {'total_quantity': 438,
    'average_per_sale': 5,
    'total_revenue': 657},
   '2023-02': {'total_quantity': 323,
    'average_per_sale': 4,
    'total_revenue': 484},
   '2023-03': {'total_quantity': 615,
    'average_per_sale': 6,
    'total_revenue': 922},
   '2023-04': {'total_quantity': 418,
    'average_per_sale': 5,
    'total_revenue': 627},
   '2023-05': {'total_quantity': 352,
    'average_per_sale': 5,
    'total_revenue': 528},
   '2023-06': {'total_quantity': 541,
    'average_per_sale': 5,
    'total_revenue': 811},
   '2023-07': {'total_quantity': 372,
    'average_per_sale': 4,
    'total_revenue': 558},
   '2023-08': {'total_quantity': 383,
    'average_per_sale': 5,
    'total_revenue': 574},
   '2023-09': {'total_quantity': 412,
    'average_per_sale': 4,
    'total_revenue': 618},
   '2023-10': {'total_quantity': 430,
    'average_per_sale': 5,
    'total_revenue': 645},
   '2023-11': {'total_quantity': 396,
    'average_per_sale': 5,
    'total_revenue': 594},
   '2023-12': {'total_quantity': 557,
    'average_per_sale': 6,
    'total_revenue': 835}}},
 'papaya': {'total_quantity': 5423,
  'average_per_sale': 5,
  'total_revenue': 39587,
  'monthly': {'2023-01': {'total_quantity': 603,
    'average_per_sale': 5,
    'total_revenue': 4401},
   '2023-02': {'total_quantity': 407,
    'average_per_sale': 5,
    'total_revenue': 2971},
   '2023-03': {'total_quantity': 407,
    'average_per_sale': 5,
    'total_revenue': 2971},
   '2023-04': {'total_quantity': 450,
    'average_per_sale': 5,
    'total_revenue': 3285},
   '2023-05': {'total_quantity': 438,
    'average_per_sale': 5,
    'total_revenue': 3197},
   '2023-06': {'total_quantity': 415,
    'average_per_sale': 5,
    'total_revenue': 3029},
   '2023-07': {'total_quantity': 446,
    'average_per_sale': 5,
    'total_revenue': 3255},
   '2023-08': {'total_quantity': 484,
    'average_per_sale': 5,
    'total_revenue': 3533},
   '2023-09': {'total_quantity': 471,
    'average_per_sale': 5,
    'total_revenue': 3438},
   '2023-10': {'total_quantity': 511,
    'average_per_sale': 5,
    'total_revenue': 3730},
   '2023-11': {'total_quantity': 392,
    'average_per_sale': 5,
    'total_revenue': 2861},
   '2023-12': {'total_quantity': 399,
    'average_per_sale': 5,
    'total_revenue': 2912}}},
 'avocado': {'total_quantity': 5319,
  'average_per_sale': 5,
  'total_revenue': 27658,
  'monthly': {'2023-01': {'total_quantity': 461,
    'average_per_sale': 5,
    'total_revenue': 2397},
   '2023-02': {'total_quantity': 512,
    'average_per_sale': 5,
    'total_revenue': 2662},
   '2023-03': {'total_quantity': 476,
    'average_per_sale': 5,
    'total_revenue': 2475},
   '2023-04': {'total_quantity': 444,
    'average_per_sale': 5,
    'total_revenue': 2308},
   '2023-05': {'total_quantity': 408,
    'average_per_sale': 5,
    'total_revenue': 2121},
   '2023-06': {'total_quantity': 362,
    'average_per_sale': 5,
    'total_revenue': 1882},
   '2023-07': {'total_quantity': 416,
    'average_per_sale': 5,
    'total_revenue': 2163},
   '2023-08': {'total_quantity': 476,
    'average_per_sale': 6,
    'total_revenue': 2475},
   '2023-09': {'total_quantity': 423,
    'average_per_sale': 4,
    'total_revenue': 2199},
   '2023-10': {'total_quantity': 408,
    'average_per_sale': 5,
    'total_revenue': 2121},
   '2023-11': {'total_quantity': 531,
    'average_per_sale': 5,
    'total_revenue': 2761},
   '2023-12': {'total_quantity': 402,
    'average_per_sale': 5,
    'total_revenue': 2090}}},
 'pineapple': {'total_quantity': 5396,
  'average_per_sale': 5,
  'total_revenue': 36153,
  'monthly': {'2023-01': {'total_quantity': 471,
    'average_per_sale': 5,
    'total_revenue': 3155},
   '2023-02': {'total_quantity': 382,
    'average_per_sale': 5,
    'total_revenue': 2559},
   '2023-03': {'total_quantity': 457,
    'average_per_sale': 5,
    'total_revenue': 3061},
   '2023-04': {'total_quantity': 344,
    'average_per_sale': 5,
    'total_revenue': 2304},
   '2023-05': {'total_quantity': 477,
    'average_per_sale': 5,
    'total_revenue': 3195},
   '2023-06': {'total_quantity': 530,
    'average_per_sale': 6,
    'total_revenue': 3551},
   '2023-07': {'total_quantity': 500,
    'average_per_sale': 5,
    'total_revenue': 3350},
   '2023-08': {'total_quantity': 510,
    'average_per_sale': 5,
    'total_revenue': 3417},
   '2023-09': {'total_quantity': 385,
    'average_per_sale': 5,
    'total_revenue': 2579},
   '2023-10': {'total_quantity': 467,
    'average_per_sale': 5,
    'total_revenue': 3128},
   '2023-11': {'total_quantity': 349,
    'average_per_sale': 4,
    'total_revenue': 2338},
   '2023-12': {'total_quantity': 524,
    'average_per_sale': 6,
    'total_revenue': 3510}}},
 'mango': {'total_quantity': 5454,
  'average_per_sale': 5,
  'total_revenue': 32724,
  'monthly': {'2023-01': {'total_quantity': 467,
    'average_per_sale': 5,
    'total_revenue': 2802},
   '2023-02': {'total_quantity': 455,
    'average_per_sale': 5,
    'total_revenue': 2730},
   '2023-03': {'total_quantity': 486,
    'average_per_sale': 6,
    'total_revenue': 2916},
   '2023-04': {'total_quantity': 367,
    'average_per_sale': 4,
    'total_revenue': 2202},
   '2023-05': {'total_quantity': 418,
    'average_per_sale': 5,
    'total_revenue': 2508},
   '2023-06': {'total_quantity': 472,
    'average_per_sale': 5,
    'total_revenue': 2832},
   '2023-07': {'total_quantity': 449,
    'average_per_sale': 5,
    'total_revenue': 2694},
   '2023-08': {'total_quantity': 544,
    'average_per_sale': 5,
    'total_revenue': 3264},
   '2023-09': {'total_quantity': 409,
    'average_per_sale': 5,
    'total_revenue': 2454},
   '2023-10': {'total_quantity': 495,
    'average_per_sale': 5,
    'total_revenue': 2970},
   '2023-11': {'total_quantity': 458,
    'average_per_sale': 5,
    'total_revenue': 2748},
   '2023-12': {'total_quantity': 434,
    'average_per_sale': 5,
    'total_revenue': 2604}}}}

In [74]:
def month_agg_report(d):
    def flat_json(report, item):
        monthly = report["monthly"]
        for m_str, report in monthly.items():
            month_dt = pd.to_datetime(f"{m_str}-01")
            yield {
                "month_dt": month_dt,
                "item": item,
                **report
            }
    
    records_its = map(flat_json, d.values(), d.keys())
    return it.chain.from_iterable(records_its)

def month_agg_report_df(agg_report):
    return (
        pd.DataFrame.from_records(agg_report)
        .astype({
            "month_dt": "datetime64[ns]",
            "item": "str",
            "total_quantity": "int",
            "average_per_sale":	"int",
            "total_revenue": "int",
        })
        .assign(
            year=lambda df_: df_["month_dt"].dt.year,
            month=lambda df_: df_["month_dt"].dt.month,
        )
        .drop(columns=["month_dt"])
        .set_index(["item", "year", "month"])
        .sort_index()
    )

month_result_agg = month_agg_report_df(month_agg_report(load_report()))
month_result_agg.dtypes

total_quantity      int64
average_per_sale    int64
total_revenue       int64
dtype: object

In [75]:
per_item_month_agg.dtypes

total_revenue       float64
total_quantity        int64
average_per_sale    float64
dtype: object

In [76]:
def compare_months_report(result, calc):
    _calc = (
        calc
        .astype("int")
        .reindex(columns=result.columns)
    )

    return (
        result
        .compare(_calc, result_names=("result", "calc"))
        .loc[lambda df_: ~df_.isna().all(axis=1)]
    )

compare_months_report(month_result_agg, per_item_month_agg)

Empty DataFrame
Columns: []
Index: []